# Python
__pycache__/
*.pyc
*.pyo
venv/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment Variables
.env
.env.*
!.env.sample

# OS-specific files
.DS_Store
Thumbs.db

# Build output
build/
dist/

# Logs
logs/
*.log

# ML models
*.joblib

# Data files
*.csv
*.xlsx
*.json.gz
*.db

# Media files
*.jpg
*.png
*.gif

# IDE files
.idea/
.vscode/
*.swp

# Testing
tests/
.coverage
coverage/